registry=https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/

always-auth=true

# See here for configuring access to Azure Artifacts:
# https://dev.azure.com/bentleycs/beconnect/_packaging?_a=connect&feed=Packages
